{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% for img in ['9-1-1-75219.jpg', 'acapulco-shore-66084.jpg'] %}
        <a href="{{ path('app_home', {'id' : 3 }) }}"><img src="{{ asset('/posters/series/' ~ img) }}" width="300px" /></a>
    {% endfor %}
{% endblock %}
