body {
    background: linear-gradient(#000000, #132135);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: #EEE;
    font-family: 'Roboto', sans-serif;
}

.flex_div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex_between{
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

.link_button{
    border: 2px solid blueviolet;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 30% 5%;
}

a:hover {
    color: #BC956B;
}

img {
    max-width: 100%;
    min-width: 140px;
}

h1, h2, h3, h4 {
    margin-top: 0;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header img {
    height: 70px;
}

main {
    flex: 1;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 1rem; /*pourcentage de taille en fonction du zoom 1 rem = 10px pour zoom = 100%*/
}

.series-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.serie-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;

}

.serie-details-infos > div {
    margin-bottom: 1rem;
    padding-left: 5px;
}

@media screen and (min-width: 700px) {
    .serie-details {
        grid-template-columns: 300px 1fr;
    }
}